{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
    <div class="md:grid md:grid-cols-4 md:gap-4 bg-gray-100 px-10 py-6">
        <div class="col-span-1">
            <form method="get" action="{% url 'item:items' %}">
                <input name="query" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Find a bike, a chair or a car ...">
                <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>
            </form>
            <hr class="my-6">

            <p class="font-semibod">Categories</p>

            <ul>
                {% for category in categories %}
                <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
                    <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>

            <hr class="my-6">

            <p class="font-semibod">Clear filters</p>

            <ul>
                <li><a href="{% url 'item:items' %}" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white">Clear</a></li>
            </ul>

        </div>

        <div class="mt-10 col-span-3">
            <div class="md:grid md:grid-cols-3 md:gap-3">
                {% for item in items %}
                    <div class="mb-10">
                        <a href="{% url 'item:detail' item.id %}">
                            <div class="w-30 h-30">
                                <img src="{{ item.image.url }}" class="rounded-t-xl md:w-80 md:h-80">
                            </div>
    
                            <div class="p-6 bg-white rounded-b-xl md:w-80 md:h-30">
                                <h2 class="text-sm md:text-2xl">{{ item.name }}</h2>
                                <p class="text-xs text-gray-900 md:text-2xl">Price: {{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}